.signature-container {
  width: 100%;
  min-height: 50px;
  background-color: #aae2f9;
  border: 1px solid #000;
  padding: 10px 10px 10px 10px;

  .icon {
    display: inline;
    float: left;
    height: 100%;
  }

  .signature-area {
    height: 25px;
    margin-left: 35px;
    border-bottom: 1px solid #000;
    cursor: pointer;

    & > * {
      cursor: pointer;
    }
  }

  .signed-details {
    height: 100%;
    text-align: right;
    margin-left: 40px;

    .name {
      font-weight: 600;
      margin: 0 0 0 0;
      font-size: 2rem;
    }

    .date {
      font-weight: normal;
      margin: 0 0 0 0;
      font-size: 1rem;
    }
  }

  .confirmation-message {
    font-weight: 600;
    text-align: center;
  }

  .confirmation-options {
    .sign {
      margin-right: 7.5px;
    }
    .cancel {
      margin-left: 7.5px;
    }
  }
}

:host([disabled]) {
  .signature-container {
    background-color: #f5f5f5;
    * {
      cursor: not-allowed;
    }
  }
}
