// variables
$success-color: #28a745!important;
$primary-color: #17a2b8!important;
$warning-color: #ffc107!important;
$danger-color: #dc3545!important;
$default-color: #e9ecef !important;

.signature-container {
  width: 100%;
  height: 50px;
  background-color: #aae2f9;
  border: 1px solid #000;
  padding: 10px 10px 10px 10px;

  .icon {
    float: left;
    height: 100%;
    width: 30px;
  }

  .signature-line {
    float:left;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border-bottom: 1px solid #000;
  }
}
// Probably could make this a mixin, but leaving it this way for readability
:host(.primary) .progress-container .progress-amount { background-color: $primary-color }
:host(.success) .progress-container .progress-amount { background-color: $success-color }
:host(.warning) .progress-container .progress-amount { background-color: $warning-color }
:host(.danger) .progress-container .progress-amount { background-color: $danger-color }


